@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Roboto:ital@0;1&display=swap');
/* delicous opacity */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
/* for the content in the main */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Fira+Sans:ital,wght@0,400;0,500;1,400&family=Inconsolata&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Fira+Sans:ital,wght@0,400;0,500;1,400&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
*{
    padding: 0;
 margin: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
    background:#f2f2f2;
    height: 9vh;
}
li, a, button {
    font-size: 16px;
    color: #000;
}
.logo{
    cursor: pointer;
    color:#da3e06;
    font-weight:bold;
    font-size: 19px;
}
.nav_links li{
 display: inline-block;
 padding: 0px 20px;
}
header button {
    background: #da3e06;
    border: none;
    color: white;
    padding:13px;
    border-radius: 8px;
}
.main {
    background:#ebcdc4;
    height: 90.8%;
}
.main h1{
    font-family: 'Pacifico', cursive;
    font-size: 20vh;
    padding-left: 15vh;
    padding-top: 6vh;
    opacity: 0.1;
    color: #da3f0665;
    animation: aniMal .8s infinite alternate;
}
@keyframes aniMal {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(0.9);
    }
}
.main .cake h2{
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Comfortaa', cursive;

    /* padding-left: 20vh; */
    font-size: 8vh;
    margin-top: -11vh;
font-weight: 900;
}
.cake {
    padding-left: 20vh;

}
.main .cake p{
    /* padding-left: 20vh; */
    width: 80vh;
    padding-top: 2vh;
}
.main .cake button {
    width: 20vh;
    height: 5vh;
    background:#ee4506;
    border: none;
    border-radius: 1vh;
    color: #fff;

}
.main .cake button:hover{
    box-shadow: 4px 10px 14px -5px #da3e06;
}
.ads{
    max-width: 68vh;
    padding-top: 3.3vh;
    border-top-left-radius: 50vh;
    border-bottom-left-radius: 50vh;
    /* border-left: 7px solid #000; */
    border-bottom: 2px solid #dcbbb1;

    /* border-bottom-right-radius: 10vh; */

float: right;
margin-top: -64vh;
}
.popular {
    height: 210vh;
    background: #fff;
}
.popular p{
    text-align: center;
    color: #f04506;
    padding-top: 4vh;
    font-family: 'Pacifico', cursive;
font-size: 2.4vh;
opacity: 0.8;
}
.popular h1 {
    text-align: center;
    padding-top: 2vh;
    font-family: 'Comfortaa', cursive;
font-size: 3vh;
}
.popular .fresh {
    display: flex;
    margin-top:20vh;
    /* background: #000; */
    height: 90vh;
}
.popular .fresh img{
    /* max-width: 70vh; */
    /* max-width: 10vh; */
   min-width: 90vh;
    margin-left: 5vh;
    /* padding-top: 20vh; */
    /* background: #000; */
    /* padding: 30px; */
    /* border-radius: 20vh; */
}
.popular .developer {
    display: flex;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
}
.popular .developer .image {
background: #fff5f2;
height: 63vh;
width: 37vh;
/* border-bottom-right-radius: 9vh; */
}
.popular .developer .image img {
    width: 34vh;
    /* width: 60vh; */
    /* height: 36vh;
border-bottom-right-radius: 9vh; */
justify-content: center;
align-items: center;
margin: auto;
/* padding-top:3vh; */
text-align: center;
display: flex;
border: 4px solid #dcbbb1;
}
/* .popular .developer .image img:hover{

} */
.popular .developer .image .spt{
    text-align: center;
    padding-top: 1vh;
    font-size: 2vh;
}
.popular .developer .image .amount_display{
    color:#da3e06;
    justify-content: center;
    display: flex;
    padding-top: 1.2vh;
    align-items: center;

    
}
.popular .developer .image button {
    background: #da3e06;
    border: none;
    color: white;
    padding:14px;
    border-radius: 8px;
    margin-top: 3vh;
    width: 30vh;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-align: center;
    display: flex;
}
.popular .developer .image button:hover{
    box-shadow: 4px 10px 14px -5px #da3e06;
}
.popular .fresh .fresh-content {
    padding-left: 20vh;
    /* width: 90vh; */
    text-align: left;
    padding-top: 20vh;
    padding-right: 14vh;
}
.popular .fresh .fresh-content p{
    text-align: left;
}
.popular .fresh .fresh-content h1{
    /* width: 0vh; */
    font-weight:bolder;
    text-align: left;
    font-size: 3vh;

}
.popular .fresh .fresh-content .story{
    background: #da3e06;
    border: none;
    color: white;
    padding:14px;
    border-radius: 8px;
    margin-top: 3vh;
    width: 20vh;
}
.popular .fresh .fresh-content #preview {
    /* width: vh; */
    background: #da3e06;
    border: none;
    color: white;
    padding:14px;
    border-radius: 8px;
    margin-top: 3vh;

}
.popular .fresh .fresh-content button:hover{
    box-shadow: 4px 10px 14px -5px #da3e06;
}
.popular .fresh .fresh-content b{
 font-weight: 300;
 font-size: 2vh;

}
.features{
    background: #ebcdc4;
    height: 70vh;
    margin-top: 58vh;
}
.features #features-id{
    float: right;
    margin-top: -9vh;
}
.features p{
    text-align: center;
    color: #f04506;
    padding-top: 9vh;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Pacifico', cursive;

font-size: 2.4vh;
opacity: 0.8;
}
.features h2{
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Comfortaa', cursive; */

    /* padding-left: 20vh; */
    font-size: 2.7vh;
    margin-top: -11vh;
font-weight: 900;
padding-top: 13vh;
font-family: 'Comfortaa', cursive;
/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Inconsolata', monospace; */
text-align: center;

}
.features .our {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding-left: 7vh;
    padding-right: 7vh;
}
/* .features .our .our_img{
    margin-top: 7vh;
} */
.features .our .our_img{
    background: rgba(255, 255, 255, 0.374);
    width: 43vh;
    border-radius: 1vh;
    height: 37vh;
    margin-top: 7vh;
    color: black;
    /* opacity: 0; */
}
.features .our .our_img h5{
    text-align: center;
    padding-top: 3vh;
    font-size: 2vh;
    font-weight: 400;
    padding-left:2vh;
    padding-right: 2vh;
    opacity: 0.8;
}

.features .our .our_img:hover{
    box-shadow: 4px 8px 12px -10px #da3e06;
    background: white;

}
.features .our .our_img img {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* box-shadow: 4px 10px 14px -5px #dcbbb1; */
    width: 7vh;
    /* background: white; */
    padding-top: 4vh;
    /* padding: 4vh; */
}
.features .our .our_img h3{
    color: #ff8553;
    text-align: center;
    color: #000;
    opacity: 0.8;
    padding-top: 2vh;
    font-size: 2.4vh;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Pacifico', cursive; */
}
.features .our .our_img:hover{
}
.testimonial{
    height: 50vh;
    background: #fff;
}
.testimonial p{
    text-align: center;
    color: #ff8553;
    padding-top: 9vh;
    font-size: 2.4vh;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Pacifico', cursive;
}
.testimonial h2 {
    text-align: center;
    color: #000;
font-family: 'Comfortaa', cursive;
}
.testimonial .client-say{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 3vh;
    padding-top: 5vh;

}
.testimonial .client-say .say-talk{
    width: 56vh;
    height: 20vh;
    border-radius: 3vh;
    padding-left: 4vh;
    background: #000;
    color: #ffff;
}
.testimonial .client-say .say-talk h4{
    /* padding-left: 4vh; */
    padding-top: 2vh;
    font-size: 2vh;
    padding-right: 4vh;
}
.testimonial .client-say .say-talk i{
font-size:2.5vh;
color:#da3e06;
padding-top: 1vh;

}
.testimonial .client-say .say-talk #border h5{
 font-weight: 500;
 text-align:left;
 padding-left: 6vh;
 margin-top: -4vh;
 font-size: 2vh;

}
.testimonial .client-say .say-talk #border img {
    border-radius: 30vh;
    max-width: 5vh;
    /* height: 10vh; */
}
footer {
    display: flex;
    height: 50vh;
    background: #EBCDC4;
    justify-content:center;
    align-items: center;
    padding-left: 4vh;
    padding-right: 4vh;
    gap: 3vh;
}
footer .cake_main {
    margin: auto;
    height: 30vh;
    width: 39vh;
    /* background: red; */


}
#ogo{
    display: none;
}
footer #same{
    height: 30vh;
    /* background: red; */
    width: 30vh;
}
footer .cake_main h2 {
    text-align: left;
    font-size: 2.3vh;
    font-weight: lighter;
  opacity: 0.8;


}

footer .cake_main a{
    display: grid;
  padding-top: 2vh;
  color: #222;
  font-size: 1.8vh;
  opacity: 0.8;
}
footer .cake_main a:hover {
    padding-left: 1vh;
    text-decoration: underline;
    color:#FF8553;

}
footer .cake_main #number{
    padding: 6px;
    height: 6vh;
    font-weight: bolder;
    color: #fff;
    width: 30vh;
background:#EE4506;
    border-radius: 0.5vh;
    /* background: red; */
    border: none;
    opacity: none;

}
footer .cake_main #number:hover{

    box-shadow: 4px 10px 14px -5px #dcbbb1;
}

footer b{
    display: flex;
    margin-top:40vh;
    margin-left: -19vh;
    text-align: center;
}
.cake_main span {
    display: flex;
    gap: 1vh;
}
footer .cake_main span img{
    max-width: 6vh;
    background: #000;
    padding: 7px;
    border-radius: 10vh;
}
footer span .logo {
    font-size: 2.5vh;
    /* display: flex; */
    color: black;
    padding-top: 2vh;
  opacity: 0.8;

}
footer .cake_main b{
    width: 58vh;
    margin-top: 2vh;
    text-align:left;
    font-size: 1.3vh;
    opacity: 0.8;
    padding-left: 50%;
}
footer .cake_main i{
    font-size: 3vh;
    background:#da3e06;
    padding: 7px;
    color: #fff;
    margin-top: 2vh;
    border-radius: 10vh;
}
footer .cake_main i:hover{
    opacity: 0.8;
}
footer form input[type="email"]:focus{
    width: 25vh;
    outline:none;
    border: 2px solid #da3e06;

}
footer form input[type="email"]{
    height: 4vh;
    width: 15vh;
    border-radius: 0.5vh;
    border: none;
}
footer form input[type="submit"]{
    padding: 8px;
    height: 4vh;
    font-weight: bolder;
    color: #fff;
    width: 10vh;

    border-radius: 0.5vh;
    background: red;
    border: none;
}
#myBtn {
    display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: #ffff;
  cursor: pointer;
  border-radius: 24vh;
  padding: 2vh;
  box-shadow: 4px 10px 14px -5px rgba(0,0,0,0.15);

  }
  #myBtn img{
    width: 3vh;
  }
  #removeBg {
    display: none;
  }
  /* .subscribe{
    display: none;
  } */
/* phone screen size */
.subscribe h4{
    display: none;
}
.subscribe button{
    display: none;

}
.popular #show-pop{
    display: none;
}
.popular #show-pops{
    display: none;
}
#showoff{
    display: none;
}
.history {
    display: none;
}
#Our{
    display: none;
}
/* ipad screen size */
@media only screen and (max-width: 768px ) {
    header button {
        display: none;
    }
    #showoff{
        display:contents;
    }
    header {
        padding: 30px 7%;
    }
    .nav_links li a{
        display: none;
    }
    .main .ads {
        display: none;
    }
    .main h1{
        padding-left: 2vh;
        font-size: 15vh;
    }
    .cake {
        padding-left: 4vh;
    }
    .main .cake p{
        width: 50vh;
        
    }
    .popular {
        /* text-align: center; */
    }
    .popular h1{
        display: none;
    }
    .popular #show-pop{
        display: contents;
        text-align: center;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .main .cake h2{
        font-size: 7vh;

    }
    .popular .developer {
        display:grid;
    display: none;
    }
    .popular {
        height: 350vh;
        
    }

    .popular #show-pops {
text-align: center;
/* display: flex; */
justify-content: center;
margin: auto;
align-items: center;
display: contents;
padding-left: 3vh;
font-size: 2vh;


    }
   .popular .history {
        background: #000;
        /* display: contents; */
        width: 40vh;
    display: contents;
padding: 8vh;
    }

.popular .history {
    display: contents;
}
    .popular .fresh {
        height: 90vh;
    }
    #hidden{
        display: none;
    }
    .popular .fresh img{
   width: 40vh;
   height: 60vh;
display: none;
    }
    .popular .fresh .fresh-content {
        padding-top: 9vh;
        padding-right: 4vh;
        padding-left: 5vh;
    margin-top: -2vh;
    
    }
    #removeBg {
        display:content;
    }
      .features{
        display: none;
      }
      .testimonial{
          display: none;
      }
      .subscribe{
          display: contents;
          height: 20vh;
        background: #000;
        text-align:center;
      }
      .subscribe h4{
        color: #fff;
        font-size: 4vh;
        /* text-align: center; */
padding-top: 5vh;
}
.subscribe button{
        display: contents;
/* color: #fff; */
background: red;
/* padding: 10vh; */

    }
    #Our {
        display: none;
    }
    #most{
     display: none;   
    }
}
/* phone size */
 @media only screen and (max-width:375px) {
    .logo{
        font-size: 2vh;
        color: black;
    }   
    .main .cake p{
            font-size: 1.7vh;
            width: 30vh;
        }
        .main .cake h2{
            font-size: 4.4vh;
            margin-top: -2vh;
        }
        .main h1{
            font-size: 10vh;
    font-family: 'Comfortaa', cursive;
            margin-top: -4vh;
        }
.main #exp {
    display: none;
}
.main {
    height: 60vh;
}
.popular #show-pops{
    color: gray;
    text-align: left;
    justify-content:left;
    align-items: left;
    display: flex;
    padding-top: 3vh;
    padding-left: 1vh;
}
#ceo{
    height: auto;
    max-width: 100%;
}
#dev{
    display: contents;
    text-align: center;
    justify-content:center;
    align-items: center;
}
#Our {
    display: contents;
    /* padding-top: 3vh; */
    font-size: 2vh;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: flex;
}
#most{
    display: contents;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: flex;
}
#cake-sweet{
    display: contents;
}
.fresh-content {
    background: #000;
    color: #fff;
    height: 60vh;

}
.story{
    display: none;
}
page-last{
    display: contents;
}
#last-page{
    display: none
}
.free{
    background:red;
    height: 50vh;
    margin-top: 70vh;

}

#ckae{
    display: none;
}
/* .features {
    display: contents;
    margin-top: 140vh;
} */
}