@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Roboto:ital@0;1&display=swap');
/* delicous opacity */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
/* for the content in the main */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Fira+Sans:ital,wght@0,400;0,500;1,400&family=Inconsolata&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Fira+Sans:ital,wght@0,400;0,500;1,400&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&family=Pacifico&family=Roboto:ital@0;1&display=swap');*{
  padding: 0;
 margin: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
    background:#f2f2f2;
    height: 9vh;
}
li, a, button {
    font-size: 16px;
    color: #000;
}
.logo{
    cursor: pointer;
    color:#da3e06;
    font-weight:bold;
    font-size: 19px;
}
.nav_links li{
 display: inline-block;
 padding: 0px 20px;
}
header button {
    background: #da3e06;
    border: none;
    color: white;
    padding:13px;
    border-radius: 8px;
}
.main {
    background:#ebcdc4;
    height: 90.8%;
}
.main h1{
    font-family: 'Pacifico', cursive;
    font-size: 20vh;
    padding-left: 15vh;
    padding-top: 6vh;
    opacity: 0.1;
    color: #da3f0665;
    animation: aniMal .8s infinite alternate;
}
@keyframes aniMal {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(0.9);
    }
}
.main .cake h2{
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Comfortaa', cursive;
    
    /* padding-left: 20vh; */
    font-size: 8vh;
    margin-top: -11vh;
font-weight: 900;
}
.cake {
    padding-left: 20vh;

}
.main .cake p{
    /* padding-left: 20vh; */
    width: 80vh;
    padding-top: 2vh;
}
.main .cake button {
    width: 20vh;
    height: 5vh;
    background:#ee4506;
    border: none;
    border-radius: 1vh;
    color: #fff;
    
}
.ads{
    max-width: 68vh;
    /* padding-top: 1vh; */
    border-top-left-radius: 50vh;
    border-bottom-left-radius: 50vh;
    /* border-bottom-right-radius: 10vh; */

float: right;
margin-top: -64vh;
}
.popular {
    height: 210vh;
    background: #fff;
}
.popular p{
    text-align: center;
    color: #f04506;
    padding-top: 4vh;
    font-family: 'Pacifico', cursive;
font-size: 2.4vh;
opacity: 0.8;
}
.popular h1 {
    text-align: center;
    padding-top: 2vh;
    font-family: 'Comfortaa', cursive;
font-size: 3vh;
}
.popular .fresh {
    display: flex;
    margin-top:20vh;
    /* background: #000; */
    height: 90vh;
}
.popular .fresh img{
    /* max-width: 70vh; */
    /* max-width: 10vh; */
   min-width: 90vh;
    margin-left: 5vh;
    /* background: #000; */
    /* padding: 30px; */
    /* border-radius: 20vh; */
}
.popular .developer {
    display: flex;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
}
.popular .developer .image {
background: #fff5f2;
height: 60vh;
width: 42vh;
border-bottom-right-radius: 9vh;
}
.popular .developer .image img {
    width: 34vh;
    /* width: 60vh; */
    height: 36vh;
border-bottom-right-radius: 9vh;
justify-content: center;
align-items: center;
margin: auto;
padding-top:3vh;
text-align: center;
display: flex;

}
/* .popular .developer .image img:hover{
 
} */
.popular .developer .image .spt{
    text-align: center;
    padding-top: 1vh;
    font-size: 3vh;
}
.popular .developer .image button {
    background: #da3e06;
    border: none;
    color: white;
    padding:14px;
    border-radius: 8px;
    margin-top: 3vh;
    width: 20vh;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-align: center;
    display: flex;
}
.popular .fresh .fresh-content {
    padding-left: 20vh;
    /* width: 90vh; */
    text-align: left;
    padding-top: 20vh;
    padding-right: 14vh;
}
.popular .fresh .fresh-content p{
    text-align: left;
}
.popular .fresh .fresh-content h1{
    /* width: 0vh; */
    font-weight:bolder;
    text-align: left;
    font-size: 3vh;

}
.popular .fresh .fresh-content button{
    background: #da3e06;
    border: none;
    color: white;
    padding:14px;
    border-radius: 8px;
    margin-top: 3vh;
    width: 20vh;
}
.popular .fresh .fresh-content b{
 font-weight: 300;
 font-size: 2vh;

}
.features{
    background: #ebcdc4;
    height: 70vh;
    margin-top: -5vh;
}
.features #features-id{
    float: right;
    margin-top: -12vh;
}
.features p{
    text-align: center;
    color: #f04506;
    padding-top: 9vh;
    font-family: 'Pacifico', cursive;
font-size: 2.4vh;
opacity: 0.8;
}
.features h2{
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Comfortaa', cursive; */
    
    /* padding-left: 20vh; */
    font-size: 3vh;
    margin-top: -11vh;
font-weight: 900;
padding-top: 13vh;
font-family: 'Comfortaa', cursive;
/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Inconsolata', monospace; */
text-align: center;

}